<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About LoL Streamers</h4>
        <p>Find and follow your favorite League of Legends streamers in one place.</p>
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Connect With Us</h4>
        <div class="social-icons">
          <a href="#" class="social-icon">Twitter</a>
          <a href="#" class="social-icon">Discord</a>
          <a href="#" class="social-icon">Twitch</a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2025 LoL Streamers. All rights reserved.</p>
    </div>
  </div>
</footer>
