<section class="content">
  <h2>Add a New Video</h2>

  <!-- Video Form -->
  <form [formGroup]="videoForm" (ngSubmit)="submitForm()">
    <!-- YouTube URL -->
    <div class="form-group">
      <label for="youtubeUrl">YouTube URL</label>
      <input
        id="youtubeUrl"
        type="url"
        formControlName="youtubeUrl"
        placeholder="Enter YouTube Video Link"
      />
      <div
        class="error-message"
        *ngIf="videoForm.get('youtubeUrl')?.invalid && videoForm.get('youtubeUrl')?.touched"
      >
        Please provide a valid YouTube URL.
      </div>
    </div>

    <!-- Champion Name -->
    <div>
      <label for="championName">Champion played</label>
      <div class="selected-items">
        <span
          class="item-tag"
          *ngFor="let selectedChampion of selectedChampion"
        >
          {{ selectedChampion }}
          <button type="button" (click)="removeChampion(selectedChampion, championInput.value)">
            &times;
          </button>
        </span>
      </div>

      <!-- Input -->
      <input
        id="championName"
        #championInput
        type="text"
        formControlName="championName"
        placeholder="Type to search champions..."
        (input)="updateChampionsSuggestionList($event)"
      />

      <!-- Filtered Suggestions -->
      <ul class="suggestions">
        <li
          *ngFor="let champion of championsSuggestionList"
          (click)="selectChampion(champion, championInput.value)"
        >
          {{ champion }}
        </li>
      </ul>
    </div>

    <!-- Rune Selection -->
    <div>
      <label for="rune">Select Runes</label>
      <div class="selected-items">
    <span class="item-tag" *ngFor="let selectedRune of selectedRunes">
      {{ selectedRune }}
      <button type="button" (click)="removeRune(selectedRune, runeInput.value)">
        &times;
      </button>
    </span>
      </div>

      <!-- Input for typing -->
      <input
        id="rune"
        #runeInput
        type="text"
        formControlName="rune"
        placeholder="Type to search runes..."
        (input)="updateRunesSuggestionList($event)"
      />

      <!-- Filtered Rune Suggestions -->
      <ul class="suggestions">
        <li
          *ngFor="let rune of runesSuggestionList"
          (click)="addRune(rune, runeInput.value)"
        >
          {{ rune }}
        </li>
      </ul>
    </div>


    <!-- Submit Button -->
    <button type="submit" [disabled]="videoForm.invalid">Submit</button>
  </form>
</section>
