<div>
  <label for="runes">
    Runes used
    @if (selectedItems.length === maxItems) {
      <i class="check-icon">✓</i>
    }
  </label>

  <!-- Selected Runes -->
  <div class="selected-items">
    @for (selectedRune of selectedItems; track selectedRune) {
      <span
        class="item-tag"
        >
        {{ selectedRune }}
        <button type="button" (click)="removeItem(selectedRune)">
          &times;
        </button>
      </span>
    }
  </div>

  @if (selectedItems.length < maxItems) {
    <!-- Input Field -->
    <input
      id="runes"
      type="text"
      [formControl]="itemInput"
      [placeholder]="placeholder"
      />
    <!-- Suggestions List -->
    <ul class="suggestions">
      @for (rune of itemsSuggestionList; track rune) {
        <li
          (click)="selectItem(rune)"
          >
          {{ rune }}
        </li>
      }
    </ul>
  }
</div>
