<div>
  <label for="runes">Runes used</label>

  <!-- Selected Runes -->
  <div class="selected-items">
    <span
      class="item-tag"
      *ngFor="let selectedRune of selectedItems"
    >
      {{ selectedRune }}
      <button type="button" (click)="removeItem(selectedRune)">
        &times;
      </button>
    </span>
  </div>

  <!-- Input Field -->
  <input
    id="runes"
    type="text"
    [formControl]="itemInput"
    [placeholder]="placeholder"
    (keyup.enter)="addNewItem($event)"
  />

  <!-- Suggestions List -->
  <ul class="suggestions">
    <li
      *ngFor="let rune of itemsSuggestionList"
      (click)="selectItem(rune)"
    >
      {{ rune }}
    </li>
  </ul>
</div>
