<div>
  <label for="runes">
    Runes used
    <i class="check-icon" *ngIf="selectedItems.length === maxItems">✓</i>
  </label>

  <!-- Selected Runes -->
  <div class="selected-items">
    <span
      class="item-tag"
      *ngFor="let selectedRune of selectedItems"
    >
      {{ selectedRune }}
      <button type="button" (click)="removeItem(selectedRune)">
        &times;
      </button>
    </span>
  </div>

  <ng-container *ngIf="selectedItems.length < maxItems">
    <!-- Input Field -->
    <input
      id="runes"
      type="text"
      [formControl]="itemInput"
      [placeholder]="placeholder"
    />

    <!-- Suggestions List -->
    <ul class="suggestions">
      <li
        *ngFor="let rune of itemsSuggestionList"
        (click)="selectItem(rune)"
      >
        {{ rune }}
      </li>
    </ul>
  </ng-container>
</div>
