<section class="streamer-home">
  <section class="search">
    <form [formGroup]="searchForm" (ngSubmit)="handleSubmit()">
      <!-- Champion Name -->
      <app-champion-name-input
        [championsList]="championsList"
        (championsChange)="handleChampionChange($event)">
      </app-champion-name-input>

      <!-- Enemy Champion Name -->
      <app-enemy-champion-name-input
        [enemyChampionsList]="enemyChampionsList"
        (enemyChampionsChange)="handleEnemyChampionChange($event)">
      </app-enemy-champion-name-input>

      <!-- Lane Search -->
      <div>
        <label>Select Lane:</label>
        <div class="lane-selection">
          <div *ngFor="let lane of lanesList" class="lane-option">
            <input
              type="radio"
              id="{{ lane }}"
              [value]="lane"
              formControlName="lane"
            />
            <label [for]="lane" class="lane-label">{{ lane }}</label>
          </div>
        </div>
      </div>
      <br/>
      <!-- Runes search -->
      <app-runes-input
        [runesList]="runesList"
        (runesChange)="handleRunesChange($event)">
      </app-runes-input>


      <!-- Champion Items -->
      <app-items-input
        [itemsList]="itemsList"
        (itemsChange)="handleItemsChange($event)">
      </app-items-input>

      <!-- Team Champions -->
      <app-team-champions-input
        [teamChampionsList]="teamChampionsList"
        (teamChampionsChange)="handleTeamChampionsChange($event)">
      </app-team-champions-input>

      <!-- Opponent Champions -->
      <app-opponent-team-champions-input
        [opponentTeamChampionsList]="opponentTeamChampionsList"
        (opponentTeamChampionsChange)="handleOpponentTeamChampionsChange($event)">
      </app-opponent-team-champions-input>

      <button type="submit" class="primary">Search</button>
    </form>
  </section>
  <section class="results">
    <app-video-card
      *ngFor="let video of filteredVideoList"
      [video]="video"
    ></app-video-card>
  </section>
</section>

