<section class="streamer-home">
  <section class="search">
    <form [formGroup]="inputForm" (ngSubmit)="handleSubmit()">
      <div class="form-group" *ngIf="hasYoutubeUrl">
        <label for="youtubeUrl">YouTube URL</label>
        <div class="selected-items"></div>
        <input
          id="youtubeUrl"
          type="url"
          formControlName="youtubeUrl"
          placeholder="Enter YouTube Video Link"
        />
        <div
          class="error-message"
          *ngIf="inputForm.get('youtubeUrl')?.invalid && inputForm.get('youtubeUrl')?.touched"
        >
          Please provide a valid YouTube URL.
        </div>
      </div>
      <!-- Champion Name -->
      <app-champion-name-input
        [championsList]="championsList"
        (championsChange)="handleChampionChange($event)">
      </app-champion-name-input>

      <!-- Enemy Champion Name -->
      <app-enemy-champion-name-input
        [enemyChampionsList]="enemyChampionsList"
        (enemyChampionsChange)="handleEnemyChampionChange($event)">
      </app-enemy-champion-name-input>

      <!-- Lane Search -->
      <div>
        <label>Select Lane:</label>
        <div class="lane-selection">
          <div *ngFor="let lane of lanesList" class="lane-option">
            <input
              type="radio"
              id="{{ lane }}"
              [value]="lane"
              formControlName="lane"
            />
            <label [for]="lane" class="lane-label">{{ lane }}</label>
          </div>
        </div>
      </div>

      <!-- Runes search -->
      <app-runes-input
        [runesList]="runesList"
        (runesChange)="handleRunesChange($event)">
      </app-runes-input>


      <!-- Champion Items -->
      <app-items-input
        [itemsList]="itemsList"
        (itemsChange)="handleItemsChange($event)">
      </app-items-input>

      <!-- Team Champions -->
      <app-team-champions-input
        [teamChampionsList]="teamChampionsList"
        (teamChampionsChange)="handleTeamChampionsChange($event)">
      </app-team-champions-input>

      <!-- enemy Champions -->
      <app-enemy-team-champions-input
        [enemyTeamChampionsList]="enemyTeamChampionsList"
        (enemyTeamChampionsChange)="handleEnemyTeamChampionsChange($event)">
      </app-enemy-team-champions-input>

      <button type="submit" class="primary">{{ buttonText }}</button>
    </form>
  </section>
  <section class="results" *ngIf="!hasYoutubeUrl">
    <app-video-card
      *ngFor="let video of filteredVideoList"
      [video]="video"
    ></app-video-card>
  </section>
</section>

