<section>
  <form [formGroup]="applyForm" (submit)="submitForm()">
    <label for="id">ID</label>
    <input id="id" type="text" formControlName="id">
    <button type="submit" class="primary">Search</button>
  </form>
</section>
<section>
  <form>
    <input type="text" placeholder="Filter by ID" #filter>
    <button class="primary" type="button" (click)="filterVideos(filter.value)">Search</button>
  </form>
</section>
<section class="results">
  <app-video-list
    *ngFor="let video of filteredVideoList"
    [video]="video"
  ></app-video-list>
</section>
