<div class="video-card">
  <h3 class="video-title">
    {{ video.title }}
    <a *ngIf="authService.isLoggedIn()" [routerLink]="['/adm/edit', video.id]" class="edit-link">(edit)</a>
  </h3>

  <div class="video-content">
    <a [href]="video.video_url" target="_blank">
      <img
        [src]="'https://i.ytimg.com/vi/' + video.ytid + '/mqdefault.jpg'"
        alt="{{ video.title }}"
        class="video-thumbnail"
      />
    </a>
    <div class="video-details">
      <p><strong>Streamer:</strong> {{ video.streamer }}</p>
      <p><strong>Champion:</strong> {{ video.champion }}</p>
      <p><strong>VS:</strong> {{ video.enemy_champion }}</p>
      <p><strong>Lane:</strong> {{ video.lane }}</p>
      <p><strong>Runes:</strong> {{ video.runes }}</p>
      <p><strong>Items:</strong> {{ video.champion_items }}</p>
      <p><strong>with:</strong> {{ video.team_champions }}</p>
      <p><strong>against:</strong> {{ video.enemy_team_champions }}</p>
    </div>
  </div>
</div>
