<div class="video-card">
  <h3 class="video-title">
    {{ video.title }}
    <button *ngIf="authService.isLoggedIn()"
            mat-icon-button
            [routerLink]="['/adm/edit', video.id]"
            class="edit-button"
            matTooltip="Edit video">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="authService.isLoggedIn()"
            mat-icon-button
            (click)="deleteVideo()"
            class="delete-button"
            matTooltip="Delete video">
      <mat-icon>delete</mat-icon>
    </button>
  </h3>

  <div class="video-content">
    <div>
      <a [href]="video.video_url" target="_blank">
        <img
          [src]="'https://i.ytimg.com/vi/' + video.ytid + '/mqdefault.jpg'"
          alt="{{ video.title }}"
          class="video-thumbnail"
        />
      </a>

      <div class="video-info">
        <p><strong>From:</strong> {{ video.published_at | date:'medium' }}</p>
        <p><strong>Views:</strong> {{video.views}}</p>
        <p><strong>Likes:</strong> {{video.likes}}</p>
      </div>
    </div>
    <div class="video-details">
      <p><strong>Streamer:</strong> {{ video.streamer }}</p>
      <p><strong>Champion:</strong> {{ video.champion }}</p>
      <p><strong>VS:</strong> {{ video.enemy_champion }}</p>
      <p><strong>Lane:</strong> {{ video.lane }}</p>
      <p><strong>Runes:</strong> {{ video.runes }}</p>
      <p><strong>Items:</strong> {{ video.champion_items }}</p>
      <p><strong>with:</strong> {{ video.team_champions }}</p>
      <p><strong>against:</strong> {{ video.enemy_team_champions }}</p>
    </div>
  </div>
</div>
