<div>
  <label for="enemyChampionName">
    Enemy Champion played<span *ngIf="isAdmin">*</span>
    <i class="check-icon" *ngIf="selectedItems.length > 0">✓</i>
  </label>

  <!-- Selected Champions -->
  <div class="selected-items">
    <span
      class="item-tag"
      *ngFor="let selectedChampion of selectedItems"
    >
      {{ selectedChampion }}
      <button type="button" (click)="removeItem(selectedChampion)">
        &times;
      </button>
    </span>
  </div>

  <ng-container *ngIf="selectedItems.length === 0">
    <!-- Input Field -->
    <input
      id="enemyChampionName"
      type="text"
      [formControl]="itemInput"
      [placeholder]="placeholder"
    />

    <!-- Suggestions List -->
    <ul class="suggestions">
      <li
        *ngFor="let champion of itemsSuggestionList"
        (click)="selectItem(champion)"
      >
        {{ champion }}
      </li>
    </ul>
  </ng-container>
</div>
