<div>
  <label for="enemyChampionName">
    Enemy Champion played@if (isAdmin) {
    <span>*</span>
  }
  @if (selectedItems.length > 0) {
    <i class="check-icon">✓</i>
  }
</label>

<!-- Selected Champions -->
<div class="selected-items">
  @for (selectedChampion of selectedItems; track selectedChampion) {
    <span
      class="item-tag"
      >
      {{ selectedChampion }}
      <button type="button" (click)="removeItem(selectedChampion)">
        &times;
      </button>
    </span>
  }
</div>

@if (selectedItems.length === 0) {
  <!-- Input Field -->
  <input
    id="enemyChampionName"
    type="text"
    [formControl]="itemInput"
    [placeholder]="placeholder"
    />
  <!-- Suggestions List -->
  <ul class="suggestions">
    @for (champion of itemsSuggestionList; track champion) {
      <li
        (click)="selectItem(champion)"
        >
        {{ champion }}
      </li>
    }
  </ul>
}
</div>
