<div>
  <label for="items">
    Items used
    @if (selectedItems.length === maxItems) {
      <i class="check-icon">✓</i>
    }
  </label>

  <!-- Selected Items -->
  <div class="selected-items">
    @for (selectedItem of selectedItems; track selectedItem) {
      <span
        class="item-tag"
        >
        {{ selectedItem }}
        <button type="button" (click)="removeItem(selectedItem)">
          &times;
        </button>
      </span>
    }
  </div>

  @if (selectedItems.length < maxItems) {
    <!-- Input Field -->
    <input
      id="items"
      type="text"
      [formControl]="itemInput"
      [placeholder]="placeholder"
      />
    <!-- Suggestions List -->
    <ul class="suggestions">
      @for (item of itemsSuggestionList; track item) {
        <li
          (click)="selectItem(item)"
          >
          {{ item }}
        </li>
      }
    </ul>
  }
</div>
