<div>
  <label for="items">
    Items used
    <i class="check-icon" *ngIf="selectedItems.length === maxItems">✓</i>
  </label>

  <!-- Selected Items -->
  <div class="selected-items">
    <span
      class="item-tag"
      *ngFor="let selectedItem of selectedItems"
    >
      {{ selectedItem }}
      <button type="button" (click)="removeItem(selectedItem)">
        &times;
      </button>
    </span>
  </div>

  <ng-container *ngIf="selectedItems.length < maxItems">
  <!-- Input Field -->
  <input
    id="items"
    type="text"
    [formControl]="itemInput"
    [placeholder]="placeholder"
  />

  <!-- Suggestions List -->
  <ul class="suggestions">
    <li
      *ngFor="let item of itemsSuggestionList"
      (click)="selectItem(item)"
    >
      {{ item }}
    </li>
  </ul>
  </ng-container>
</div>
