<div class="admin-page">
  <section class="content">
    <div class="buttons">
      <a [routerLink]="['/adm/add']">
        Add New Video
      </a>
    </div>
    <section class="results">
      <h2>Videos which need validation and activation</h2>
      <div *ngFor="let video of videoList">
        <app-video-card
          [video]="video"
          (videoDeleted)="onVideoDeleted($event)"
          (videoActivated)="onVideoActivated($event)"
        ></app-video-card>
      </div>
    </section>
  </section>
</div>
